:root {
  --lightBlue: #b4c3f0;
  --mediumBlue: #7f99e6;
  --darkBlue: #113573;
  --darkRed: #ab1726;
  --yellowHighlight: #ffa500;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hc-logo {
  height: 65px;
}

h1 {
  color: var( --darkBlue );
  font-weight: bold;
  font-size: 2rem;
}

.bg-lb {
  background-color: var( --lightBlue );
}

.text-border {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}















h2 {
  color: #113573;
  font-size: 42pt;
  font-weight: bold;
  font-style: italic;
}

h3 {
  color: #113573;
  font-size: 32pt;
  font-weight: bold;
}

h4 {
  color: black;
  font-size: 24pt;
  font-weight: bold;
}


footer {
  background-color: #b4c3f0;
}

.separator {
  border-bottom: 2px solid #ffa500;
  padding: 1rem 0;
}

.separatorNone {
  padding: 1rem 0;
}

.rowDiv {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
} 

.column3 {
  width: 33%;
  margin: 1rem;
}

footer .nav {
  list-style-type: none;
}

footer a:link {
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: none;
  color: #ffa500;
  font-weight: bold;
}

footer a:visited {
  color: black;
}

.copyrightDiv {
  font-size: .8rem;
  margin: .8rem;
  padding-bottom: 1rem;
}